.body {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.result {
  font-size: 2em;
  color: royalblue;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}